
.visit-slider {
    position: relative;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;

  .carousel {
    display: flex;
    overflow: hidden;
  }
  
  .slide {
    flex: 0 0 20%; /* 20% pour afficher 5 images */
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: transform 0.5s ease;
  }
  
  .active {
    flex: 0 0 40%; /* Taille de l'image centrale */
    z-index: 1;
  }
}

.left-arrow,
.right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  background: #fff;
  border: none;
  cursor: pointer;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}