@import '../../style/mixins.scss';


.arrow-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 50px auto;
  
  .arrow {
    background-color: #1C0A00;
    border: none;
    border-radius: 50%;
    padding: 10px;

    &:hover {
      cursor: pointer;
    }

    svg {
      width: 40px;
      fill: white;

      @include mobile-only {
        width: 20px;
      }
    }
  }
}

.slider-contain {
  position: relative;

  .slider-title {
    position: absolute;
    width: 100%;
    top: 50%;
    font-size: 22px;
    color: white;
    background-color: rgba(4, 4, 4, 0.6);
    text-align: center;
    z-index: 99;

    @include mobile-only {
      font-size: 14px;
    }
  }

  .slider-img {
    width: 100%;
    max-width: 440px;
    height: 100%;
    max-height: 590px;
    border-radius: 25px;
  }
}