

.place-title {
    background-color: #5C2C00;
    text-align: center;
    padding: 15px 0;
    h1 {
        color: white;
    font-size: 60px;
    }
}

.place-banner {
    position: relative;

    .banner-compass {
        width: 100%;
        max-width: 570px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 999;
    }

    article {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0;

        .banner-elmt {
            position: relative;

            img {
                width: 100%;
                max-width: 960px;
                max-height: 462px;
                object-fit: cover;
            }

            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 99;
                font-size: 50px;
                color: white;
            }
        }
    }
}