@import url('https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400..840;1,400..840&display=swap');

body {
    margin: 0 auto;
    max-width: 1920px;
    font-family: 'Andada Pro', serif;
    font-style: normal;
}

a {
    text-decoration: none;
    color: white;
}