@import '../../style/mixins.scss';

.error {
  figure {
    margin: 0;
    text-align: center;
    padding: 50px 0;

    img {
      border-radius: 15px;
      width: 100%;
      max-width: 500px;

      @include mobile-only {
        max-width: 225px;
      }
    }

    figcaption {
      h1 {
        font-size: 60px;

        @include mobile-only {
          font-size: 30px;
        }
      }

      p {
        font-size: 32px;

        @include mobile-only {
          font-size: 16px;
        }
      }

      a {
        font-size: 24px;
        text-decoration: underline;

        @include mobile-only {
          font-size: 14px;
        }
      }
    }
  }
}
